<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">

    <sitecore>
        <pipelines>
            <mvc.getPageRendering>
                <processor type="GoHorse.Foundation.Assets.Pipelines.GetPageRendering.AddAssets, GoHorse.Foundation.Assets">
                    <siteAssets hint="raw:AddAsset">
                        <asset type="Css" file="/vendor/bootstrap/css/bootstrap.min.css" />
                        <asset type="Css" file="/styles/business-casual.min.css" />
                        <asset type="JavaScript" file="/vendor/jquery/jquery.min.js" location="Body" />
                        <asset type="JavaScript" file="/vendor/bootstrap/js/bootstrap.min.js" location="Body" />
                    </siteAssets>
                </processor>
            </mvc.getPageRendering>
        </pipelines>
    </sitecore>
</configuration>