<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <services>
            <configurator type="GoHorse.Foundation.DependencyInjection.Infrastructure.MvcControllerServicesConfigurator, GoHorse.Foundation.DependencyInjection" />
        </services>
    </sitecore>
</configuration>