<?xml version="1.0"?>
<configuration>
    <sitecore>
        <settings>
            <!-- Path to the repository of HashTags -->
            <setting name="HashTagMonitor.RepositoryPath" value="/sitecore/system/Modules/HashTagMonitor" />
            <setting name="HashTagMonitor.Database" value="master" />
        </settings>
    </sitecore>
</configuration>